#main-navbar{
  background-color: blue;
  position: relative;
  float: left;
  width: 100%;
}

#navbar-container{
  left: 50%;
  position: relative;
  float: left;
}

#main-navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  right: 50%;
  overflow: hidden;
  position: relative;
}

#main-navbar ul li{
  float: left;
  display: block;
}

#main-navbar ul li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #000;
}

#main-navbar #onpage{
  text-decoration: underline overline;
}

#sidebar{
  position: fixed;
  right: 0%;
  background-color: red;
  width: 20%;
  height: 100%;
}

#sidebar-container ul{
  list-style-type: none;
  padding: 0;
}

#sidebar-container ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px 0;
}

#sidebar-container ul li a:hover{
  background-color: #000;
}
